#playbar {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 6rem;

    /* rgba(32, 33, 36); */
    z-index: 99;
    transition: bottom 0.75s;
    display: flex;
    justify-content: center;




}

#playbar.open {
    display: flex;
    bottom: -5.5rem;
}

#maximize-btn {

    display: flex;
    width: 1.5rem;
    bottom: -5rem;
    position: fixed;
    pointer-events: none;

}

#maximize-btn.show {
    bottom: 5rem;
    display: flex;
    position: fixed;
    transition: all 1s;
    /* -webkit-transition: all 0.1s; */

    pointer-events: all;



}

@media screen and (max-width: 1024px) {
    #playbar {
        height: 10rem;
    }

    #maximize-btn {
        display: none;
    }

    #maximize-btn.show {
        display: none;
    }

    #player-control-btns {
        display: none;
    }

}