#positioned-menu {
    position: fixed;
    top: 6rem;
    left: 0;
    width: 100%;
    transition: all 0.75s;
    display: flex;
    height: fit-content;

}


#positioned-menu.showing {
    display: flex;
    top: -500px;
}