.collapse {
    display: inline-block;
    align-items: center;
    position: relative;
    white-space: nowrap;
    line-height: 1;
    z-index: 1;
}

.tab-dropdown-container {
    overflow: visible;
    display: flexbox;
    flex-direction: column;
    position: relative;

}

.tab-content {
    display: flex;
}