.tab-content {
    display: flex;

}

.navbar {}

.notnavbar {
    backdrop-filter: none;
    color: #fff;
    background-color: #12121243;

}

.appbar-shadow {
    background-color: #121212a5;
    width: 100%;
    top: 0;
    left: 0;
    position: initial;
    z-index: -10000;
}

.appbar-shadow-none {
    background-color: none;
}



#tabs1 {
    display: none;
}

#tabs2 {
    display: none;
}

#tabs3 {
    display: none;
}

.collapse {
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
    white-space: nowrap;
    line-height: 1;
    z-index: 1;
}

.tab-dropdown-container {
    width: 10rem;
    display: flex;
    flex-direction: column;
    position: relative;



}